.swiper-slide {
  width: 400px;
  height: fit-content;
  padding: 20px 0;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
  /* filter: blur(1px); */
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: self-start;
  transition: 0.3s transform;
  transform: translate3d(0px, 0px, -240px) rotateX(0deg) rotateY(0deg)
    scale(0.8);
  background: white;
  user-select: none;
}

.swiper-slide-active {
  filter: blur(0px);
  transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg) scale(1);
}

.swiper-pagination-bullet,
.swiper-pagination-bullet-active {
  background: #fff;
}

.slider-container::before{
  position: absolute; 
  content: "";
  right: -10px;
  top: 0;
  height: 80%;
  background: #0049E080;
  width: 40px;
  z-index: 99;
  filter: blur(19.5px);
}
.slider-container::after{
  position: absolute; 
  content: "";
  left: -10px;
  top: 0;
  height: 80%;
  background: #0049E080;
  width: 40px;
  z-index: 99;
  filter: blur(19.5px);
}