.root {
  background-color: #e3f2fd;
  border: 1px solid #2196f3;
}
.root::before {
  background-color: white;
}
.description,
.title {
  color: #2196f3;
}
.closeButton {
  color: #2196f3;
}
.icon {
  width: 18px;
  height: 18px;
  color: #2196f3;
  background-color: transparent !important;
  top: -7px;
  position: relative;
}
